<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia labore doloremque pariatur consequatur voluptatum doloribus ad dignissimos quam quos mollitia dolorem iste est eum aspernatur sapiente eveniet perferendis vitae, deserunt enim! Perferendis quis ipsa autem quidem tempore officia dicta commodi voluptate cupiditate, eius veritatis recusandae culpa a aut sint dolorum iste debitis reprehenderit repellat, distinctio quasi neque! Dolore, qui architecto.</p>
    </div>
</div>