<div class="card">
    <div class="card-body">
        <h1>¿Quén soy?</h1>
        <p>Yo soy <b>Nadia Matus</b><br>Lic. en relaciones comerciales, Community Manager y Full Stack Development Jr.<br>Me especializo en ayudar a emprendedores que se están iniciando en el mundo del marketing digital y que quieran dar a conocer su negocio a través de las redes sociales, e-commerce y páginas web.</p>
        <h4>He trabajado en:</h4>
        <ul class="trabajo">
            <li><i class="fas fa-laptop"></i> Agencia de publicidad</li>
            <li><i class="fas fa-building"></i> Fundación</li>
            <li><i class="fas fa-gopuram"></i> Museo</li>
            <li><i class="fas fa-network-wired"></i> Start Up</li>
            <li><i class="fas fa-briefcase"></i> Freelance</li>
        </ul>
        <h4>Me especiaizo en:</h4>
        <ul>
            <li>Redes sociales</li>
            <li>E-commerce</li>
            <li>Páginas web</li>
            <li>Marketing Digital</li>
            <li>Imágenes y videos</li>
            
        </ul>
    </div>
</div>