<footer class="navbar position-relative">
      <ul class="navbar-nav">
          <li class="nav-item ">
            <a class="navbar-brand text-secondary position-absolute top-100 start-50 translate-middle" target="_blankk" href="https://github.com/nivonne">GitHub © 2021 Nadia Matus</a>
          </li>
      </ul> 
</footer>